# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Flask
instance/
.webassets-cache

# CVAT results and uploads
cvat_results/
uploads/
source/oneshot/node_modules
flask/__pycache__

# Docker
*.log
*.pid
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3
*.db
*.pdb

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Other
.vscode/
